* {
    box-sizing: border-box;
    text-decoration: none;
    scroll-padding: 78px;
    list-style: none;
}

:root {
  --primary-color: rgb(61, 3, 3);
}

body {
    font-family: Arial Narrow, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    background-image: url(../Photos/Permanent-images/BG-IMAGE.jpg);
    background-size: cover;
    background-attachment: fixed;
}

a {
    color: var(--primary-color);
}

.section-header {
    font-size: 40px;
    text-align: center;
    color: var(--primary-color);
    margin: 40px 30% 40px;
    border-bottom: var(--primary-color) solid;
    padding-bottom: 10px;
}

/* HEADER AND HERO*/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-image: url(../Photos/Permanent-images/BG-IMAGE.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: scroll;
    border-bottom: var(--primary-color) solid 2px;
}

header h1 {
    font-size: 25px;
    color: var(--primary-color);
    margin: 25px 0 25px 10px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
}

header nav ul a {
    justify-content: space-evenly;
    margin: 0 10px 0 10px;
    color: var(--primary-color);
    margin-right: 20px;
    padding: 5px;
    transition-duration: 0.2s;
}

header nav ul a:hover {
   border-bottom: solid 3px var(--primary-color);
}

.hero {
    background-size: cover;
    background-attachment: fixed;
    background-position: 20% 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .id img {
    height: 300px;
    border-radius: 80px;
}

.id div h2 {
    text-align: center;
    font-size: 40px;
    color: var(--primary-color);
}

.intro {
    margin: 20px 25%;
    text-align: justify;
}

.intro h3 {
    text-align: center;
    font-size: 35px;
}

.intro p{
    font-size: 20px;
    line-height: 30px;
}

/*END HEADER AND HERO*/

/*ABOUT ME*/

.about-me {
    padding: 0 40px;
}

.bio h3{
    text-align: center;
    font-size: 35px;
}

.bio p {
    text-align: justify;
    font-size: 20px;
    padding: 0 60px 0 60px;
    line-height: 30px;
}

.about-me-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-me-links img {
    border-radius: 15px;
    border: solid 2px;
    transition-duration: 0.2s;
}

.about-me-links img:hover {
    border: solid 5px;
}

.about-me-links div {
 /*change this later*/
    padding: 0 10px 10px;
    border-radius: 15px;
    transition-duration: 0.2s;
}

.about-me-links div:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.about-me-links div h4 {
    text-align: center;
    font-size: 20px;
}

/*END ABOUT ME*/

/*PROJECTS*/

.project-showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    border: solid 3px var(--primary-color);
    padding: 20px;
}

.project-one img {
    background-image: url(../Photos/Permanent-images/run-buddy.png);
    max-width: 100%;
    max-height: 500px;
    height: auto;
    width: auto;
    padding: 0 0px 0 0px;
    border: solid 2px;
    border-radius: 15px;
    transition-duration: 0.2s;
}

.project-one img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border: solid 6px;
}

.project-one-bio {
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.project-one-bio h3  {
    font-size: 25px;
    text-align: center;
    padding-bottom: 5px;
}

.project-one-bio p {
    font-size: 20px;
    text-align: justify;
}

/*.project-one-bio h3:hover {
    border-bottom: solid var(--primary-color) 2px;
    margin-left: 380px;
    margin-right: 380px;
} leaving this out for now, may just delete later*/

.my-projects h3 {
    text-align: center;
    font-size: 25px;
}

.other-projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    font-size: 20px;
}

.other-projects .secondary-projects{
    padding: 0 10px 10px 10px;
    border-radius: 15px;
    transition-duration: 0.2s;
}

.other-projects .secondary-projects img {
    border-radius: 15px;
    border: solid 2px;
    transition-duration: 0.2s;
}

.other-projects .secondary-projects:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.other-projects .secondary-projects img:hover {
    border: solid 5px;
}

/*END PROJECTS*/

/*REACH OUT*/

.reach-out-content {
    display: flex;
    justify-content: space-around;
}

.general-contact-info h3 {
    font-size: 30px;
    color: var(--primary-color);
}

.general-contact-info address {
    font-size: 18px;
}

.reach-out-links {
    font-size: 30px;
    color: var(--primary-color);
    text-align: center;
}

.reach-out-content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;
}

.reach-out-content ul a {
    padding: 0 20px 0 20px;
}

.logo{
    height: 50px
}

.GM-area {
    padding: 5px;
}

.GH-area {
    padding: 5px 10px 0 10px;
}

.LI-area {
    padding: 5px 10px 0 10px;
}

.reach-out-content ul li {
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    border-radius: 15px;
    transition-duration: 0.2s;
}

.reach-out-content ul li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

/*REACH OUT*/

/*FOOTER*/

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: var(--primary-color) solid 3px;
}

footer p {
    font-size: 20px;
    color: var(--primary-color);
    padding: 0 20px 0 20px;
}

.button-section {
    display: flex;
}

button {
    margin: 10px 10px 10px 10px;
    border-radius: 15px;
    height: auto;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: 15px;
    font-weight: bold;
    background-image: url(../Photos/Permanent-images/BG-IMAGE.jpg);
    background-position: right;
    color: var(--primary-color);
    font-family: Arial Narrow, Helvetica, sans-serif;
    padding: 10px 5px 10px 5px;
    border: solid var(--primary-color) 2px;
}

button:hover {
    background-color: var(--primary-color);
    color: white;
    border: solid white 2px;
}
/*END FOOTER*/

/*MEDIA QUERIES FOR SMALL SCREENS*/

@media screen and (max-width:980px) {
    .intro {
        margin: 20px 15%;
    }

    .intro p {
        line-height: 30px;
    }

    .bio p {
        line-height: 30px;
    }

    footer p {
        margin-top: 25px;
    }

    button {
        background-color: var(--primary-color);
        background-image: none;
        color: white;
    }
}

@media screen and (max-width:768px) {
    header {
        height: auto;
        justify-content: space-around;
    }
    
    header h1 {
        font-size: 25px;
        margin-top: 20px;
        margin-left: 0;
    }

    header nav ul {
        margin-top: 15px;
        padding-left: 10px;
    }

    header nav ul li {
        font-size: 20px;
    }
    
    .bio h3 {
        font-size: 30px;
    }

    
    .reach-out-content .border-left-MQ {
        border-left: solid var(--primary-color) 2px;
        margin-bottom: 15px;
    }

    .project-one-bio p {
        line-height: 30px;
    }

    .section-header {
        font-size: 35px;
    }

    address {
        line-height: 30px;
    }

    footer p {
        font-size: 15px;
    }
    
    .button-section button p {
        font-size: 15px;
        margin: 5px 0 5px 0;
        padding: 0 5px  0 5px;
    }

}

@media screen and (max-width:670px) {
    .general-contact-info {
        margin: 0 20px 0 20px;
    }
}

@media screen and (max-width:579px) {
    footer {
        justify-content: space-around;
        flex-direction: column;
        line-height: 5px;
    }

    footer p {
        text-align: center;
    }
    
    .button-section {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:435px) {
    * {
        scroll-padding: 10px;
    }
    
    header {
        height: auto;
        position: relative;
    }

    header h1 {
        margin-left: 0%;
        font-size: 25px;
    }

    header nav ul {
        padding-left: 10px;
    }

    header nav ul li {
        font-size: 17px;
    }

    .intro {
        margin: 20px 10%;
    }

    .bio p {
        padding: 0;
    }

    .about-me-links div h4 {
        font-size: 25px;
    }

    .about-me-links img {
        height: 250px;
    }

    footer {
        justify-content: space-around;
    }

    footer p {
        font-size: 20px;
    }

    .button-section {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:375px) {
    * {
        scroll-padding: 10px;
    }
    
    .section-header {
        font-size: 30px;
    }
    
    .id div h2 {
        font-size: 30px;
    }

    .hero .id img {
        height: 250px;
    }

    .intro h3 {
        font-size: 25px;
    }

    .bio h3 {
        font-size: 28px;
    }

    .about-me-links img {
        height: 200px;
    }

    .other-projects img {
        height: 200px;
    }

    .general-contact-info {
        margin-right: 10px;
    }

    .general-contact-info h3, .reach-out-links {
        font-size: 25px;
    }

    footer p {
        font-size: 15px;
        line-height: 2px;
    }
}